#!/usr/bin/env bash

echo "Creating Dante users"

{% for user in services.dante.users  %}
useradd {{ user.username }}
echo "{{ user.username }}:{{ user.password }}" | chpasswd
{% endfor %}


exec sockd -f $CFGFILE -p $PIDFILE -N $WORKERS
