[Unit]
Description=Traefik Service
After=docker.service
Requires=docker.service

[Service]
User={{ deploy_user }}
Group={{ deploy_user }}
TimeoutStartSec=infinity
TimeoutStopSec=5min
Restart=always
RestartSec=3
WorkingDirectory={{ traefik_root }}/traefik/

ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop && /usr/bin/docker-compose rm -f

[Install]
WantedBy=multi-user.target